<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect when file, directory not available in directory which contain .htaccess
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . 404.php [L]

    # Redirect by ErrorDocument directive globally [ ErrorDocument <3-digit-code> <action> ]
    ErrorDocument 404 /404.php

</IfModule>